.button{
    background-color: blue;
    color: white;
    margin: 10px;
    font-family: "HYXJ"
}

.input{
    width: 100%;
    margin: 10px;
    font-family: "HYXJ"
}

.todo-generator{
    width: 50%;
    display: flex;
    flex-direction: row;
}