.todo-group{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    border: 4px solid rgba(0, 0, 0, 0.502);
    background-color: rgba(255, 235, 205, 0.228);
    border-radius: 20px;
}