.todo-list{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.todo-list-title{
    font-family: "HYXJ";
}

@media (max-width: 600px) {
  .todo-list{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
}